{% from 'macros/pagination.html' import paginate %}
{% extends "base.html" %}

{% block title %}帳票管理システム - 顧客情報編集{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold text-gray-700">顧客一覧</h1>
        <a href="{{ url_for('customer.create') }}" class="button-primary">新規登録</a>
    </div>

    <div class="bg-white shadow-md rounded my-6">
        <table class="w-full max-w-full table-auto">
            <thead class="models-header">
                <tr>
                    <th>顧客名</th>
                    <th>住所</th>
                    <th>電話番号</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="models-body">
                {% if page.items %}
                {% for customer in page.items %}
                <tr>
                    <td><a href="{{ url_for('customer.show', customer_id=customer.id) }}">{{ customer.name }}</a></td>
                    <td>{{ customer.address | truncate(30, true) }}</td>
                    <td>{{ customer.telephone_number }}</td>
                    <td>
                        <div class="flex justify-end items-center gap-x-4"><a
                                href="{{ url_for('customer.edit', customer_id=customer.id) }}"
                                class="button-secondary">編集</a>
                            <form action="{{ url_for('customer.delete', customer_id=customer.id) }}" method="POST"
                                onsubmit="return confirm('本当に削除しますか？')">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="button-caution">削除</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6" class="text-center">
                        顧客データはまだありません。</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    {{ paginate(page, 'customer.index') }}
</div>
{% endblock %}